<%- include('../includes/head.ejs') %>
    </head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/usermanagment.css">
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered" style="width: 50rem; margin-top: 2rem;" >
            <h1>User email:  <%= user.email %></h1>
            <table>
                <tr>
                   <th>User</th><th> Signed up</th>
                </tr>

                  <tr>
                   <td>"<%= signedUpUser.User %>"</td>
                   <td class="druga"><%= signedUpUser.Date %> <%= signedUpUser.Time %></td>
                 </tr>
              </table>
              <table>
                 <tr>
                    <th>Orders</th>
                 </tr>
                 <% for (let order of orders) { %>

                    <tr>
                      <td><%= order.Date %> <%= order.Time%></td>
                    </tr>
                   <% } %>

             </table>

        </main>
        <%- include('../includes/end.ejs') %>
